.top-area {
    padding: 0px 0px !important;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    display: contents !important;
    border: 1px solid transparent;
}

.home-five .logo {
    padding: 28px 0 !important;
}